<footer class="main-footer">
  <div class="footer-container">
    <div class="footer-top">
      <div class="footer-brand">
        <a href="/" class="logo">
          <span class="logo-text">Bros</span><span class="logo-highlight">Commerce</span>
        </a>
        <p class="brand-description">{{ 'FOOTER.RIGHTS' | translate }} © {{ currentYear }}</p>
      </div>

      <div class="footer-links">
        <div class="link-group">
          <span class="group-title">{{ 'FOOTER.ABOUT' | translate }}</span>
          <ul>
            <li>
              <a href="#">{{ 'FOOTER.ABOUT' | translate }}</a>
            </li>
            <li>
              <a href="#">{{ 'FOOTER.CONTACT' | translate }}</a>
            </li>
          </ul>
        </div>
        <div class="link-group">
          <span class="group-title">{{ 'FOOTER.PRIVACY' | translate }}</span>
          <ul>
            <li>
              <a href="#">{{ 'FOOTER.PRIVACY' | translate }}</a>
            </li>
            <li>
              <a href="#">{{ 'FOOTER.TERMS' | translate }}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
